    <div class="head-wrap">
        <nav>
            <div class="logo">
                <h1><a href="/"><span>SHOW</span>Time</a></h1>
            </div>
            <div class="search">
                <div class="searchbar">
                    <form action="/find-show" method="POST" id="search-form">
                        <input type="search" id="search" name="searchValue" placeholder="Search Shows Near You" required autocomplete="off">
                        <button class="btn bg-transparent border-0 p-0" style="cursor: pointer" type="submit"><i
                                class="fa fa-search"></i></button>
                    </form>
                </div>
            </div>
            <div class="buttons">
                <a href="/login">Sign In</a>
                <a href="/login/register">Sign Up</a>
            </div>
            <div class="icon-login">
                <a class="fa fa-right-to-bracket" href="/login"></a>
            </div>
        </nav>
    </div>
    <section id=showcase>
        <video autoplay   muted loop>
            <source src="/media/showcaseVid.mp4">
        </video>
    </section>
    <section class="hero">
        <div class="main">
            <h1>All Event Operations At one Place.</h1>
            <h4>Oraganise, Manage, Buy & sell Tickets</h4>
            <div class="options">
                <a href="/login">Organise an Event</a>
                <a href="/shows" id="book-show">Book a Show</a>
            </div>
        </div>
    </section>
      
