<div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-7 left-side">
        <h4><%= details.showName %></h4>
        <p><%= details.showDate.toDateString() %></p>
        <hr>
        <div class="ticket-option mb-3">
          <h5>Classic</h5>
          <p>₹<%= details.price%></p>
          <div class="mb-3">
            <label for="quantity" class="form-label">Quantity</label>
            <select id="quantity" class="form-select" style="width: 100px;">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
            </select>
            <small class="text-muted">Hurry, Only <%= details.limit %> Left</small>
          </div>
        </div>
        
        <hr>
        <button class="btn checkout-btn d-none d-md-block">Check out</button>
      </div>
      <div class="col-lg-4 col-md-5 right-side">
        <div class="order-summary">
          <h5>Order summary</h5>
          <p><span>2</span> X Classic - <span>₹500</span></p>
          <p>Platform Fees - ₹49</p>
          <hr>
          <h5>Total: ₹549</h5>
        </div>
        <button class="btn checkout-btn mt-3 d-md-none">Check out</button>
    </div>
  </div>
</div>